<nav class="navbar navbar-expand-lg">
    <div class="container-fluid menu-contatos-e-redes">
      <li class="nav-item">
          <i class="bi bi-telephone-outbound contato"></i>
          <a href="tel:5511945700651" class="navbar-brand" target="_blank">(11) 9 4570-0651</a>
      </li>       
        <li class="nav-item">
            <i class="bi bi-envelope contato"></i>
            <a href="mailto:luciano@lmfpavimentacao.com"class="navbar-brand" target="_blank">luciano@lmfpavimentacao.com</a>
        </li>
      
        <ul class="navbar-nav ms-auto">        
          <li class="nav-item">
            <a href="https://www.facebook.com/profile.php?id=100091407841155 " target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/lmf_asfaltos/" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
          </li>               
        </ul>
      </div>    
  </nav>

