<app-title-tag
    TitleDescription="Contato"
    title="Contato"
    text="Fale agora mesmo com um especialista da PavSinal e entregue segurança e conforto!"
></app-title-tag>


<section class="container servicos">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 pb-5">
        <div class="col">
            <div class="card h-100">
                <i class="bi bi-geo-alt large"></i>
                <div class="card-body">
                    <h5 class="card-title mb-4">Endereço</h5>
                    <p class="card-text">Rua Dr. Luiz Pereira Barretos, 220, sala 42 B, Vila Júlia, Poá, São Paulo</p>
                </div>
                <div class="card-footer mb-4">
                    <p class="icon-link a-services">Como Chegar</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <i class="bi bi-envelope-at large"></i>
                <div class="card-body">
                    <h5 class="card-title mb-4">E-mail</h5>
                    <p class="card-text">luciano@lmfpavimentacao.com</p>
                </div>
                <div class="card-footer mb-4">
                    <a href="mailto:luciano@lmfpavimentacao.com"class="navbar-brand" target="_blank">Enviar</a>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <i class="bi bi-telephone-outbound large"></i>
                <div class="card-body">
                    <h5 class="card-title mb-4">Telefone</h5>
                    <p class="card-text">(11) 9 4570-0651</p>
                </div>
                <div class="card-footer mb-4">
                    <a href="tel:5511945700651" target="_blank" class="icon-link a-services">Ligar</a><hr>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mb-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.1909591841663!2d-46.35231847602975!3d-23.524294273593014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce7b27bc84f67f%3A0xb4dbffb527fc17af!2sRua%20Dr.%20Luiz%20Pereira%20Barreto%2C%20220%20-%20Vila%20J%C3%BAlia%2C%20Po%C3%A1%20-%20SP%2C%2008551-347!5e0!3m2!1spt-BR!2sbr!4v1682428354383!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
</div>

