<div class="container-fluid footer-container">
    <div class="container pt-5">    
        <div class="row pt-5">
            <div class="col-md-3 pb-3">
                <img src="../../../assets/images/logo_branco_fundo_preto.png" alt="Logo" class=" d-flex mb-3 mt-2">
                <p>Deixando o seu caminho mais seguro</p>
                <small>&copy; Copyright 2022</small>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">Navegação Rápida</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a routerLink="" class="nav-link p-0">
                            <i class="bi bi-chevron-right"></i>Home
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a routerLink="quem-somos" class="nav-link p-0">
                            <i class="bi bi-chevron-right"></i>Quem Somos
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a routerLink="produtos" class="nav-link p-0">
                            <i class="bi bi-chevron-right"></i> Produtos
                        </a>
                    <li class="nav-item mb-2">
                        <a routerLink="contato" class="nav-link p-0">
                            <i class="bi bi-chevron-right"></i> Contato
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">Serviços</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a routerLink="pavimentacao" class="nav-link p-0">
                                <i class="bi bi-chevron-right"></i>Pavimentação
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a routerLink="pavimentacao" class="nav-link p-0">
                                <i class="bi bi-chevron-right"></i>Tapa Buraco
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a routerLink="sinalizacao" class="nav-link p-0">
                                <i class="bi bi-chevron-right"></i>Sinalização Viária
                            </a>
                        </li>                         
                    </ul>
            </div>
            
            <div class="col-md-3">
                <h5 class="mb-3">Fale Conosco</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a target="_blank" class="nav-link p-0" href="tel:5511945700651">
                                <i class="bi bi-telephone contact"></i>(11) 94570-0651
                            </a>
                        </li>
                        <li class="nav-item mb-1 redes">
                            <a href="https://www.facebook.com/profile.php?id=100091407841155" target="_blank" class="nav-link p-0">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/lmf_asfaltos/" target="_blank" class="nav-link p-0">
                                <i class="bi bi-instagram"></i>
                            </a>                            
                        </li>                        
                        <hr class="yellow">  
                        <li class="nav-item mb-2">
                              
                            <a routerLink="politica" class="nav-link p-0">
                                <i class="bi bi-chevron-right"></i>Política de Privacidade
                            </a>
                        </li>
                    </ul>
            </div>
            <hr>
            <p class="text-center mb-5">
                <a routerLink="">
                    <span>LMF Pavimentação</span> 
                </a> em São Paulo | Todos os direitos Reservados | 
                <small> Site feito por </small>
                <a href="https://alinealmeida85.github.io/Hiring-Projeto1/?" target="_blank">
                    <span>Aline Almeida</span>
                </a>
            </p>
        </div>
    </div>
</div>
