<app-title-tag
    TitleDescription="Serviço de"
    title="Sinalização Viária"
    text="Dê O Maior Indicativo De Segurança E Zelo Pelos Seus Clientes Com Uma Sinalização Bem Aplicada!"
></app-title-tag>

<div class="container md-10 mt-5 mb-5 text-left">
    <h4 class="text-left">Invista na qualidade de vida dos seus clientes e crie um laço de confiança que irá lhe conferir vantagens a longo prazo!</h4>
</div>


<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-6">            
            <img src="../../../assets/images/img15.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <h4 class="element mb-4">Sinalização Viária</h4>
                <p class="card-text pt-4">Hoje em dia, a segurança não fica mais em segundo plano para ninguém. Desde o que comemos até os lugares em que vivemos e frequentamos, estar seguro ou, no mínimo, tomar as providências necessárias para atingir essa condição, é uma atitude recorrente e natural de qualquer pessoa.</p>
                <p class="card-text pt-4">Contudo, quando levamos em conta a modernidade e as tecnologias e circunstâncias que ela trouxe consigo, é inegável que apenas o cuidado para consigo mesmo é quase irrelevante perto dos perigos existentes e que podem atentar o bem-estar das pessoas.</p>
                <p class="card-text pt-4 pb-5">Sendo assim, as pessoas confiam a segurança delas a você e à sua competência, ou seja, existe uma grande responsabilidade e uma expectativa ainda maior por parte dos seus clientes em relação aos seus resultados.</p>
                <a href="https://api.whatsapp.com/send/?phone=5511935050846&text&type=phone_number&app_absent=0" class="button-yellow">FALAR COM ESPECIALISTAS!</a>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="card-body">
                    <p class="card-text pt-4">Então, para não apenas honrar com os seus compromissos, mas, também, criar um laço de confiabilidade entre você e seus clientes, nós oferecemos o serviço de sinalização com um foco claro: a segurança.</p>
                    <p class="card-text pt-4">Afinal, apesar da sinalização ser uma ação obrigatória, ela vai muito além da exigência legal, pois ao investir na segurança das pessoas que confiam no seu trabalho, você está garantindo qualidade de vida em diversos aspectos.</p>
                    <p class="card-text pt-4 pb-5">Pois, além de reduzir o risco de acidentes nas vias, ainda mais se o local for um estacionamento ou dispuser de comércios e/ou residências próximos — ou os dois ao mesmo tempo —, a sinalização é uma marca registrada de lugares nos quais a segurança é destaque, o que aumenta a qualidade de vida dos moradores e até os transeuntes.</p>
                    <a href="https://api.whatsapp.com/send/?phone=5511935050846&text&type=phone_number&app_absent=0" class="button-yellow">FALAR COM ESPECIALISTAS!</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/img08.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6 mt-5">
                <img src="../../../assets/images/img11.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h4 class="element mb-4">Sinalização Viária</h4>
                    <p class="card-text pt-4">Atualmente, é comum que vejamos pouco investimento em sinalização ou, até mesmo, uma má aplicação dela, seja por um trabalho negligente ou por contar com matérias-primas de baixa qualidade.</p>
                    <p class="card-text pt-4">Portanto, nós, da Pavsinal, por enxergarmos que a sinalização vai muito além de uma obrigatoriedade a ser seguida, sabemos que não basta ter os indicativos corretos no chão, mas pensar em todas as pessoas que irão usufruir deles e, também, como isso pode aumentar o bem-estar dos frequentadores.</p>
                    <p class="card-text pt-4 pb-5">Dessa forma, nós contamos não apenas com equipes especializadas e competentes que desempenham o serviço proposto com excelência, mas cuidamos para que a escolha de materiais seja precisa, assim, com a combinação desses dois fatores, visamos tanto a durabilidade da sinalização em si como, também, como as pessoas melhor poderão utilizá-la para agregar valor e qualidade de vida.</p>
                    <a href="https://api.whatsapp.com/send/?phone=5511935050846&text&type=phone_number&app_absent=0" class="button-yellow">FALAR COM ESPECIALISTAS!</a>
                </div>
            </div>
        </div>
    </div>
</div>

