<div class="container mt-5 mb-5">
    <div class="text-center">
        <p>Produtos</p>
        <h2>Produtos em Destaque</h2>
        <h6>Qualidade nunca fica em segundo plano com nossos serviços <br>e produtos! Venha conhecê-los agora mesmo!</h6>
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-md-4">
        <ul>
            <a href="pavimentacao">
                <li class="foto01 text-center img-fluid">
                    <span>SINALIZAÇÃO</span>
                </li>
            </a>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
            <a href="pavimentacao">
            <li class="foto02 text-center">                
                    <span>TAPA BURACO</span>
                </li>
            </a>                
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
            <a href="pavimentacao">
                <li class="foto03 text-center">
                    <span>PAVIMENTAÇÃO</span>
                </li>
            </a>
        </ul>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <a href="pavimentacao">
                    <li class="foto04 text-center">
                        <span>PAVIMENTAÇÃO</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <a href="sinalizacao">
                    <li class="foto05 text-center">
                        <span>SINALIZAÇÃO</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <a href="pavimentacao">
                    <li class="foto06 text-center">
                        <span>TAPA BURACO</span>
                    </li>
                </a>
            </ul>
        </div>
      </div>
  </div>
