<app-title-tag
    TitleDescription="Nossos Produtos"
    title="Massa Asfáltica"
    text="Qualidade nunca fica em segundo plano com nossos serviços e produtos! Venha conhecê-los agora mesmo!"
></app-title-tag>

<div class="container md-10 mt-5 text-left">
    <h4 class="text-left">A massa asfáltica é usinada a quente para aplicação a frio, não emulsionado, a base de cap 50/70 e outro aditivos modificado, não contem filer ( pó de pedra) e porisso tem uma baixa densidade, isso resulta numa densidade aparente de aproximadamente de 1.700 kg/m³ que representa uma economia de 30% em volume quando comparado a massa asfáltica faixa v, que tem a densidade de 2.500 kg/m³ , acondicionado em saco de rafia com 25 kg e com a garantia de estocagem de 12 meses.</h4>
</div>

<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="../../../assets/images/img15.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-fluid">
                    <h5 class="card-title">Características</h5>
                    <li>
                        <p class="card-text mt-3">
                            <i class="bi bi-check"></i>A Massa Asfáltica vem pronta para uso não necessitando de aquecimento ou mistura.
                        </p>
                    </li>
                    <li>
                        <p class="card-text">
                            <i class="bi bi-check"></i>Não adicionar nenhum produto como água, asfalto, agregados, etc. Ao utilizar o produto utilize luvas.
                        </p>
                    </li>
                    <li>
                        <p class="card-text">
                            <i class="bi bi-check"></i>Despejar o produto na área a ser reparada espalhando-o com o auxílio de uma colher de pedreiro ou enxada.
                        </p>
                    </li>
                    <li>
                        <p class="card-text">
                            <i class="bi bi-check"></i>Deixar o nível da Massa Asfáltica com 3mm acima do nível existente pois o mesmo nivelará com a compactação.
                        </p>
                    </li>
                    <li>
                        <p class="card-text">
                            <i class="bi bi-check"></i>A compactação poderá ser efetuada pelos veículos passantes, através de um soquete manual ou placa vibratória.
                        </p>
                    </li>
                    <li>
                        <p class="card-text">
                            <i class="bi bi-check"></i>A liberação do tráfego deverá ser imediata sem interdição do local ou cobertura da área reparada.
                        </p>
                    </li>
                    <li>
                        <p class="card-text mb-5">
                            <i class="bi bi-check"></i>Em buracos com profundidades superior a 50mm, efetuar a compactação em camadas de 35mm, sempre compactando a camada antes de aplicar a posterior.
                        </p>
                    </li>
                    <h5 class="card-title">Especificações Técnicas</h5>
                    <li>
                        <p class="card-text card-text mt-3">
                            <i class="bi bi-check"></i>Embalagem: Sacos de rafia com 25 kg.
                        </p>
                    </li>
                    <li>
                        <p class="card-text">
                            <i class="bi bi-check"></i>Estocagem: 12 meses a partir da data de fabricação, armazenado conforme especificações.
                        </p>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Vantagens e Benefícios</h1>
        </div>
    </div>
</section>

<div class="container pt-0">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="../../../assets/images/img01.jpeg" class="w-100 shadow-1-strong mb-4 foto" alt="Pavimentação"/>
            <img src="../../../assets/images/img08.jpeg" class="w-100 shadow-1-strong mb-4" alt="Pavimentação"/>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../../../assets/images/img06.jpeg" class="w-100 shadow-1-strong mb-4" alt="Pavimentação"/>
            <img src="../../../assets/images/img02.jpeg" class="w-100 shadow-1-strong mb-4" alt="Pavimentação"/>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../../../assets/images/img04.jpeg" class="w-100 shadow-1-strong mb-4" alt="Pavimentação"/>
            <img src="../../../assets/images/img07.jpeg" class="w-100 shadow-1-strong mb-4" alt="Pavimentação"/>
    </div>
  </div>
</div>