<div class="container mt-5 title">
    <div class="row w-100">
      <div class="col-md-6">
        <p class="element">O que nós fazemos</p>
        <h2 class="mt-4">Fornecemos os melhores serviços</h2>
      </div>
      <div class="col-md-6">
        <p class="element2">Empresa de Pavimentação em São Paulo</p>
        <p class="description">Qualidade nunca fica em segundo plano em nossos serviços! Venha conhecê-los agora mesmo!</p>
      </div>
    </div>
  </div>


  <section class="container servicos">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 pb-5">
      <div class="col">
        <div class="card h-100">
          <i class="bi bi-car-front large card-img-top"></i>
          <div class="card-body">
            <h5 class="card-title mb-4">Pavimentação</h5>
            <p class="card-text">Trabalhamos com Materiais de Alta Qualidade e Durabilidade, Que Já Testamos e Confiamos!</p>
          </div>
          <div class="card-footer mb-4">
            <a [routerLink]="['/pavimentacao']" class="icon-link a-services">Saiba mais →</a><hr>
          </div>
        </div>
      </div>
      <div class="col">
      <div class="card h-100">
        <i class="bi bi-cone-striped large card-img-top"></i>
        <div class="card-body">
          <h5 class="card-title mb-4">Tapa buraco</h5>
          <p class="card-text">Não é Apenas uma Questão de Locomoção, Mas também de Qualidade de Vida!</p>
        </div>
        <div class="card-footer mb-4">
          <a [routerLink]="['/pavimentacao']" class="icon-link a-services">Saiba mais →</a><hr>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <i class="bi bi-sign-stop-lights large card-img-top"></i>
        <div class="card-body">
          <h5 class="card-title mb-4">Sinalização viária</h5>
          <p class="card-text">Dê o Maior Indicativo de Segurança e Zelo Pelos Seus Clientes com uma Sinalização Bem Aplicada!</p>
        </div>
        <div class="card-footer mb-4">
          <a [routerLink]="['/sinalizacao']" class="icon-link a-services">Saiba mais →</a><hr>
        </div>
      </div>
    </div>
  </div>
</section>
