<section class="container mt-5 mb-5">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title mb-3">Quem Somos</h2>
                    <h6 class="mb-3">Se existe algo que não apenas nos define como, também, foi o nosso combustível para crescer e chegar até aqui é a dedicação.</h6>
                    <p class="card-text mb-3 mt-4">Desde para com os nossos clientes, prezando pelo atendimento de forma clara e acessível, até a prestação de serviços ou ato de venda de qualquer produto, nunca nos esquecemos que o mérito pelo nosso crescimento e pelo nosso trabalho exemplar é devido ao zelo que aplicamos em todos os estágios de interação com o cliente.</p>
                    <p class="card-text">Independentemente se estamos no primeiro contato, fazendo um orçamento ou finalizando uma atividade: nosso norte é a dedicação, pois pensar desse jeito nos garante a excelência em qualquer trabalho que nos dispomos a realizar.</p>
                    <p class="card-text">A LMF Pavimentação se compromete com a satisfação dos clientes, e nos empenhamos em atender às necessidades apresentadas da melhor maneira possível, desde o início até o fim, esclarecendo procedimentos, avaliando as melhores maneiras para fecharmos acordo e garantindo a excelência que você merece.</p>
                    <p class="card-text mb-5">Desde o princípio, a nossa dedicação traz qualidade de vida e segurança para nossos clientes e seus respectivos clientes, venha ser o próximo a fazer parte da nossa história!</p>
                    <a href="https://api.whatsapp.com/send/?phone=5511935050846&text&type=phone_number&app_absent=0" class="navbar-brand button-yellow" target="_blank">Falar agora com Especialista</a>    
                    
                </div>
            </div>
            <div class="col-md-4 img-fluid">
                
            </div>
        </div>
    </div>
</section>

<div class="mb-5 tag">
    <app-tag
        title="Interessado em nos contratar?"
        button="Falar agora com Especialista">
    </app-tag>

</div>