<app-title-tag
    TitleDescription="Serviço de"
    title="Pavimentação e Tapa buraco em São Paulo"
    text="A Pavimentação e tapa buraco não é apenas uma questão de locomoção, mas de qualidade de vida!"
></app-title-tag>

<div class="container md-10 mt-5 mb-5 text-left">
    <h4 class="text-left">Escolha uma empresa que saiba que segurança, excelência e bem-estar são o foco da pavimentação e tapa buraco e não negocie a qualidade que você merece e oferece aos seus clientes!</h4>
</div>

<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-6">            
            <img src="../../../assets/images/img10.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <h4 class="element mb-4">Pavimentação e Tapa buraco em São Paulo</h4>
                <p class="card-text pt-4">É comum que, ao pensarmos em pavimentação e tapa buraco em São Paulo, imaginarmos a cena de uma rua esburacada e, com isso, uma imensa dificuldade para que o tráfego local flua com facilidade.</p>
                <p class="card-text pt-4">Contudo, não é apenas o tráfego que é prejudicado com a falta de manutenção do pavimento: você é o maior prejudicado por essa situação!</p>
                <p class="card-text pt-4 pb-5">Para muito além apenas da dificuldade de locomoção, locais que não possuem pavimentação ou precisam fazer a manutenção dele aumentam o risco de acidentes e, também, desvalorizam a área e prejudicam o bem-estar dos frequentadores e dos arredores.</p>
                <a href="https://api.whatsapp.com/send/?phone=5511935050846&text&type=phone_number&app_absent=0" class="button-yellow">FALAR COM ESPECIALISTAS!</a>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="card-body">
                    <p class="card-text pt-4">Afinal de contas, quando realmente paramos para analisar, uma via em boas condições abre uma gama infinita de possibilidades para as pessoas que a utilizam, o que contribui diretamente na comodidade de quem utiliza a pista e nas oportunidades para as empresas crescerem.</p>
                    <p class="card-text pt-4">Sendo assim, investir em pavimentação e tapa buraco não é simplesmente uma questão de deixar a via bonita ou restaurar as boas condições das vias, mas sim, potencializar a qualidade de vida e reforçar a segurança que as pessoas esperam de você e que você pode entregar.</p>
                    <p class="card-text pt-4 pb-5">A LMF Pavimentação acredita que ter segurança é apenas o básico quando falamos sobre pavimentar uma via: focamos em garantir que tanto o material quanto o serviço oferecido sejam de qualidade, para honrar não apenas o nosso compromisso com você, mas para que você seja capaz de entregar excelência para seus clientes também.</p>
                    <a href="https://api.whatsapp.com/send/?phone=5511935050846&text&type=phone_number&app_absent=0" class="button-yellow">FALAR COM ESPECIALISTAS!</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/img08.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6 mt-5">
                <img src="../../../assets/images/img11.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h4 class="element mb-4">Pavimentação e Tapa buraco em São Paulo</h4>
                    <p class="card-text pt-4">Como citamos, não existe segredo algum para os resultados que alcançamos: trabalhamos com materiais de qualidade, que já testamos e confiamos, e focamos no rigor durante a execução dos serviços prestados aos nossos clientes, pois contamos com equipes qualificadas.</p>
                    <p class="card-text pt-4">Além disso, queremos que nossos clientes possuam uma experiência completa de confiabilidade com a nossa empresa, portanto, desde o primeiro contato, valorizamos a transparência e a rapidez para que a negociação atenda às suas necessidades e que a proposta seja vantajosa para ambos os lados.</p>
                    <p class="card-text pt-4 pb-5">Nós, da LMF Pavimentação, acreditamos que a confiança é um laço valioso que criamos com nossos clientes, portanto, além de garantir qualidade desde o material que usamos até a equipe que o aplica, investimos no processo de pós-venda e estamos disponíveis para possíveis dúvidas que surjam depois que o serviço já fora concluído.</p>
                    <a href="https://api.whatsapp.com/send/?phone=5511935050846&text&type=phone_number&app_absent=0" class="button-yellow">FALAR COM ESPECIALISTAS!</a>
                </div>
            </div>
        </div>
    </div>
</div>

