<div class="banner">
    <div class="banner-content">
        <p>Bem-Vindo a LMF Pavimentação e Sinalização Viária</p>
        <h3 class="mb-3">Tenha mais tempo para si com equipes profissionais encarregadas de resolver seus problemas!</h3>
        <h1 class="mb-5">Especialista <br>em <span>Pavimentação</span> e <br><span>Sinalização Viária</span> e <span>Asfalto frio.</span></h1>
        <a target="_blank" href="https://api.whatsapp.com/send/?phone=5511935050846&text&type=phone_number&app_absent=0">Falar agora</a>        
    </div>    
</div>

