i {
    color: #FFF;
    font-size: 25px;
    background-color: #25D366;
    padding: 10px 14px;
    border-radius: 50%;
    border: 1px solid #0000006b;
}
i:hover {
    color: #25D366;
    background-color: #FFF;
}


.whatsapp {
    padding: 15px;
    position: fixed;
    bottom: 3%;
    left: 90%;
    display: flex;
    width: 60px;
    height: 60px;    
}


.whatsapp:before , .whatsapp:after {
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    right: -18px;
    top: -1px;
    bottom: -7px;
    border-radius: 50%;
    border: 3px solid #25D366;
    animation: animar 1.5s linear infinite;
    opacity: 0;
}

.whatsapp:after {
    animation-delay: .5s;
}

@keyframes animar {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}


@media (max-width: 758px) {
    .whatsapp {
        left: 75%;
    }
}