.banner-pages {
    background: url("../../../assets/images/img15.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 360px;
    border-top: 5px solid #F2B705;
    width: 100%;
    opacity: 0.9;
    position: relative;
}

.banner-content h3 {
    color: #FFF;
    font-size: 35px;
    text-shadow: 1px 1px 4px #000;
}

.banner-content h6 {
    color: #FFF;
    font-size: 16px;
    text-shadow: 1px 1px 4px #000;
}

.banner-content p {
    color: #FFF;
    font-size: 16px;
    text-shadow: 2px 2px 2px #262622;
}

.banner-content p::before {
    content: '';
    width: 90px;
    height: 5px;
    display: inline-block;
    background-color: #FFF;
    position: relative;
    margin-right: 10px;
}

.banner-content {
    top: 15%;
    left: 10%;
    position: absolute;
    right: 50%;    
}


@media (max-width: 1024px) {
    .banner-pages {
        width: 100%;
        opacity: 0.9;
        position: relative;
    }

    .banner-content h3 {
        font-size: 30px;
    }

    .banner-content h6 {
        font-size: 14px;
    }
    
    .banner-content p {
        font-size: 14px;
    }

    .banner-content p::before {
        width: 45px;
        height: 5px;
        margin-right: 10px;
    }
    
    .banner-content {
        top: 15%;
        left: 10%;
        position: absolute;
        right: 30%;    
    }
}