<div class="container mt-5 title">
    <div class="row">
      <div class="col-md-6">
        <p class="element">Depoimentos</p>
        <h2 class="mt-4">O que eles dizem dos nossos serviços</h2>
      </div>
      <div class="col-md-6 mt-5">
        <p class="description">Se existe algo que não apenas nos define como, também, foi o nosso combustível para crescer e chegar até aqui é a dedicação.</p>
      </div>
    </div>
  </div>

<section class="depoimentos">
    <div class="container mb-5 text-center">
      <div class="row">
            <div class="col-md-4">
                <div class="card-depoimentos">
                    <div class="card-body">
                        <blockquote class="blockquote mb-3 mt-3 p-3">
                            <p class="truncar-3l">"Sempre nos atendeu muito bem, com asfalto frio de qualidade e pontualidade na entrega."</p>
                            <footer class="footer">
                                <img src="../../../assets/images/user.png" alt="" class="photo-user"> Ari Botelho
                                <br>
                                <small class="text-right">
                                    <cite title="Source Title">Engenheiro</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>
          </div>

          <div class="feature col-md-4">
            <div class="card-depoimentos">
                <div class="card-body">
                    <blockquote class="blockquote mb-3 mt-3 p-3">
                        <p class="truncar-3l">"Fiz um trabalho de pavimentação em um estacionamento, equipe super profissional."</p>
                        <footer class="footer"><img src="../../../assets/images/user.png" alt="" class="photo-user"> Alan Ferreira
                            <br>
                            <small>
                                <cite title="Source Title">Empreiteiro</cite>
                            </small>                                
                        </footer>
                    </blockquote>
                </div>
            </div>
          </div>

          <div class="feature col-md-4">
            <div class="card-depoimentos">
                <div class="card-body">
                    <blockquote class="blockquote mb-3 mt-3 p-3">
                        <p class="truncar-3l">"Empresa nos atendeu muito bem para serviço de pintura e sinalização do estacionamento."</p>
                        <footer class="footer">
                            <img src="../../../assets/images/user.png" alt="" class="photo-user"> Eduardo Katsuo
                            <br>
                            <small>
                                <cite title="Source Title">Engenheiro</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>
          </div>
        </div>
      </div>
</section>