<section class="container mt-5 mb-5">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title mb-3">Quem Somos</h2>
                    <h6 class="mb-3">Se existe algo que não apenas nos define como, também, foi o nosso combustível para crescer e chegar até aqui é a dedicação.</h6>
                    <p class="card-text mb-3">Desde para com os nossos clientes, prezando pelo atendimento de forma clara e acessível, até a prestação de serviços ou ato de venda de qualquer produto, nunca nos esquecemos que o mérito pelo nosso crescimento e pelo nosso trabalho exemplar é devido ao zelo que aplicamos em todos os estágios de interação com o cliente.</p>
                    <p class="card-text mb-5">Independentemente se estamos no primeiro contato, fazendo um orçamento ou finalizando uma atividade: nosso norte é a dedicação, pois pensar desse jeito nos garante a excelência em qualquer trabalho que nos dispomos a realizar.</p>
                    <a [routerLink]="['/quem-somos']" class="button-yellow">Saiba mais</a>
                    
                </div>
            </div>
            <div class="col-md-6 img-fluid">
                
            </div>
        </div>
    </div>
</section>
