.card-title {
    color: #F2B705;
}

h6 {
    font-weight: 600;
    color: #424242;
    font-size: 16px;
}

.card {
  border: none;
}

.img-fluid {
  background: url("../../../assets/images/teste.png") no-repeat;
  background-position: center top;
  background-size: cover;
  height: 450px;
}
